@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --dark: #191A23;
    --pink: #FFA4A6;
    --grey: #F3F3F3;
}

*{
    margin: 0px;
    text-decoration: none;
    padding: 0;
    font-family:"Space Grotesk", sans-serif; ;
}

header{
    max-width:1200px ;
    padding:40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

nav > ul{
    display: flex;
    list-style: none;
    
}

nav > ul >li{
    margin-right: 30px;
    
}

nav > ul >li > a{
    color: black;
}

nav > ul >li:last-child > a{
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
}
nav > ul >li:last-child > a:hover{
    background-color: black;
    color: white;
    transition: 0.5s;

}


.container{
    max-width:1200px ;
    padding:40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title{
    font-size: 50px;
    max-width: 15ch;
    margin-bottom: 40px;
}
.princ-text{
    max-width: 45ch;
    line-height: 1.5;
    margin-bottom: 40px;
    color: black;
    font-size: 19px;
}
.btn-consult{
    padding: 20px;
    background-color: var(--dark);
    color: var(--grey);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    
}
.btn-consult:hover{
    border: 1px solid var(--dark);
    background-color: transparent;
    color: var(--dark);
    transition: 0.7s;
}
.marcas{
    max-width:1200px ;
    padding:40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.marcas img{
    cursor: pointer;
}


.box-services{
    max-width:1200px ;
    padding:40px 20px;
    margin: 0 auto;
}

.description{
    display: flex; 
    gap: 30px;
    align-items: center;
}

#services{
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--pink);
    border-radius: 5px;
    padding: 4px;
}

.text-descri{
    font-size: 15px;
    max-width: 60ch;
}

#cards{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#imgs-card{
    height: 150px;
}
.card1{
    background-color: var(--grey);
    display: flex;
    box-shadow: 3px 3px 3px 3px  black;
    border-radius: 20px;
    width: 500px;
    height: 250px;
}

@media(max-width:800px){
    header{
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }

    #logo{
        width: 300px;
    }

    nav >ul{
        flex-direction: column;
        gap: 20px;
    }

    nav > ul >li:last-child > a{
        border: none;
        padding: 0;
    }

    .container{
        grid-template-columns: 1fr;
    }

    .container img{
        display: none;
    }

    .title{
        font-size: 30px;
        max-width: 100ch;
    }
    .princ-text{
        font-size: 17px;
    }
    .btn-consult{
        margin: auto auto;
    }
}
